# Maven target directory
/target/

# Eclipse/IntelliJ
.idea/
*.iml
.project
.classpath
.settings/

# OS-specific files
.DS_Store
Thumbs.db

# Logs, Reports, Screenshots
/logs/
/reports/
/screenshots/
